
.navbar{
	border-radius: 0;
	margin: 0;
}
.navbar-default{
	border-bottom: 2px solid #000;
}
.navbar-default .container-fluid{
	padding-right: 0;
}
#navbar ul li a,.navbar-default .navbar-header a{
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
}
#navbar ul li a:hover{
	color:  #fff;
}

#navbar ul li:hover{
	background-color: #0a304c;
}

.navbar-default .navbar-header a:hover{
	color: #0a304c;
}
.navbar-default .navbar-toggle{
	border-color: #000;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

@media(max-width: 767px){
	#navbar ul{
		text-align: center;
	}
}
/* Home */
.navegacao{
	margin-top: 50px;
}

.bloco-sobre {
	width: 80%;
    margin: 40px auto;
    color: #000;
}

.bloco-sobre .linha-sobre{
	margin-top: 20px;
    margin-bottom: 20px;
}
.bloco-sobre .linha-sobre h2,.bloco-sobre .linha-sobre a{
	color: #2d3d69;
	font-weight: bold;
}

.bloco-sobre .linha-sobre .btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}
.bloco-sobre .linha-sobre .btn{
  font-family: arial;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}
.bloco-sobre .linha-sobre .btn-purple{
  background:#0b4671;
  color:#fff;
  box-shadow:0 5px 0 #0a304c;
}
.bloco-sobre .linha-sobre .btn-purple:hover{
  background:#206292;
  box-shadow:0 5px 0 #085288;
}

.bloco-sobre .linha-sobre .btn-purple:active{
	position:relative;
  	top:5px;
  	box-shadow:none;
}

.ultimos-posts{
	margin-top: 100px;
	margin-bottom: 100px;
}
.ultimos-posts .linha-posts{
	margin: 0 auto;
    width: 90%;
}

.ultimos-posts .linha-posts .bloco-posts{
	padding: 0 10px;
}

.ultimos-posts .linha-posts .bloco-posts .texto h4{
	font-weight: bold;
	color: #1c436b;
}

.ultimos-posts .linha-posts .bloco-posts a{
	color: #0a304c;
	text-decoration: none;
}

.mensagem{
	margin-top: 95px;
	background-image: url('imagens/2.jpg');
    height: 806px
}


.mensagem .texto{
	top: 200px;
    color: #fff;
    font-style: italic;
    width: 60%;
    margin: 300px auto;
}
.mensagem .texto h2{
	font-weight: bold;
}

.footer{
	background-color: #3b3b3c;
    border-top: solid 1px #fff;
    padding-bottom: 20px;
   }
.footer .rodape{
	margin: 20px;
}
.footer ul li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.footer ul li{
	padding: 4px;
}   

.direitos{
	text-align: center;
    background-color: #000;
    padding: 10px;
    color: #fff;
}

@media(max-width: 991px){
	.bloco-sobre{
		width: 60%;
	}
	.bloco-sobre .linha-sobre .col-md-6{
		margin-bottom: 25px;
	}
	.ultimos-posts .linha-posts{
		width: 70%;
	}
	.ultimos-posts .linha-posts .bloco-posts{
		padding: 7px 10px;
    	margin: 25px;
    	border-bottom: 1px solid;
	}
}

@media(max-width: 767px){
	.footer{
		text-align: center;
	}
}


/* Sobre */
.info-sobre{
	margin-top: 80px;
	margin-bottom: 80px;
}

.info-sobre .sobre-nos .centralizado{
	text-align: center;
    margin: 0 auto;
}
.info-sobre .sobre-nos .centralizado .cabecalho{
	font-size: 45px;
	color: #0a439a;
}

.info{
	background: url('imagens/bg-clientes.jpg');
	background-attachment: fixed;
	color: #fff;
}

.info .titulo-info{
	width: 70%;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    margin-top: 81px;
    margin-bottom: 55px;
    text-align: center;
}
.info .titulo-info h2{
	text-align: center;
	font-size: 60px;

}

.info .conteudo{
	width: 50%;
    padding-bottom: 95px;
    text-align: center;
    margin: 0 auto;
}

/* Novidades */

.posts .bloco-posts{
	margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
}

.posts .bloco-posts img{
	margin: 0 auto;
}

.posts .bloco-posts .resumo{
	width: 80%;
}

.posts .bloco-posts .resumo a{
	text-decoration: none;
	color: #0a304c;
}

.posts .bloco-posts .resumo h2{
	color: #0a304c;
	text-transform: uppercase;
}

@media(max-width: 767px){
	.posts .bloco-posts img{
		margin: 0;
	}
	.posts .bloco-posts{
		height: auto;
	}
}

/* Botão de voltar ao topo */
#top{
    position: fixed;
    right: 20px;
    display: none;
    font-size: 30px;
    background-color: #0a304c;
    width: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    z-index: 999;
    border: 1px solid #fff;
}

/* Gif de Careegamento */

#loading{
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: #fff;
	background-size: 200px 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('imagens/Pacman.gif');
}

/* Galeria */
.galeria{
	margin-bottom: 80px;
}
.fotos .bloco-fotos img{
	margin: 0 auto;
}
.fotos .bloco-fotos{
	margin-bottom: 10px;
	margin-top: 10px;
}
.fotos .titulo h2{
	text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    color: #232e65;
}

/* Contato */
.contato{
	margin-top: 80px;
	margin-bottom: 80px;
}
.contato .form .form-horizontal .form-control{
	margin: 10px;
	border-radius: 0;
	background-color: #0a304c;
	outline: none;
	box-shadow: none;
	border:	none;
	color: #fff;
}
.contato .form .form-horizontal button{
	border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 8px;
    background-color: #0a304c;
    float: right;
}
.contato .info-contato{
	color: #0a304c;
}
.contato .info-contato h2{
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.contato .info-contato .bloco-info .info-cont{
	margin-top: 30px;
}

.contato .form .form-horizontal input::-moz-placeholder,.contato .form .form-horizontal textarea::-moz-placeholder{
	color: #fff;
}
.contato .form .form-horizontal input::-webkit-input-placeholder,.contato .form .form-horizontal textarea::-webkit-input-placeholder{
	color: #fff;
}
.contato .form .form-horizontal input:-ms-input-placeholder,.contato .form .form-horizontal textarea:-ms-input-placeholder{
	color: #fff;
}